<div class="large-2 columns"></div>
<div class="small-12 large-8 columns">
	<h1><%= (params.has_key?(:keyword) && params[:keyword].strip != "") ? "Search Results for <kbd>#{params[:keyword].strip}</kbd>".html_safe : "Page Views" %></h1>
	<p />
	<% cur_date = nil %>
	<% unless params.has_key?(:keyword) && params[:keyword].strip != "" %>
		<% page_views = @user.page_views.order('created_at desc') %>
	<% else %>
		<% search_non_articles = "and pages.page_type = 'article'" %>
		<% search_non_articles = "" if params.has_key?(:nonarticles) %>
		<% page_views = Page.find_relevant_pages(params[:keyword].strip).joins(:page_views).where(("page_views.user_id = ? " + search_non_articles), @user.id) %>
	<% end %>
	<% page_views.each do |x| %>
		<% unless params.has_key?(:keyword) && params[:keyword].strip != "" %>
			<% if cur_date == nil %>
				<% cur_date = x.created_at %>
				<%= "<span class=\"label\">#{x.created_at.strftime('%B %-d, %Y')}</span><p/>".html_safe %>
			<% end %>
			<%= "<p/><span class=\"label\">#{x.created_at.strftime('%B %-d, %Y')}</span><p/>".html_safe unless cur_date.strftime('%B %-d, %Y') == x.created_at.strftime('%B %-d, %Y') %>
			<% cur_date = x.created_at %>
		<% end %>
		<% unless params.has_key?(:keyword) && params[:keyword].strip != "" %>
			<%= render "panel", locals: {y: x} %>
		<% else %>
			<% x.page_views.order('created_at desc').each do |y| %>
				<%= render "panel", locals: {y: y} %>
			<% end %>
		<% end %>
	<% end %>
</div>
<div class="large-2 columns"></div>