<div class="small-2"></div>
<div class="small-8">
	<h1>Page Views</h1>
	<p />
	<% cur_date = nil %>
	<% @user.page_views.order('created_at desc').each do |x| %>
		<% if cur_date == nil %>
			<% cur_date = x.created_at %>
			<%= "<span class=\"label\">#{x.created_at.strftime('%B %-d, %Y')}</span><p/>".html_safe %>
		<% end %>
		<%= "<p/><span class=\"label\">#{x.created_at.strftime('%B %-d, %Y')}</span><p/>".html_safe unless cur_date.strftime('%B %-d, %Y') == x.created_at.strftime('%B %-d, %Y') %>
		<% cur_date = x.created_at %>
		<% unless x.page.author.nil? %>
			<%= link_to x.page.title, x.actual_url %><%= ", by <em>#{x.page.author}</em> for <strong>#{x.page.site.organization}</strong>".html_safe %>
		<% else %>
			<%= link_to x.page.title, x.actual_url %><%= ", for <strong>#{x.page.site.organization}</strong>".html_safe %>
		<% end %>
		<br>
		<% unless x.ended_at.nil? %>
			<%= ("<em>Time on page: " + Time.at(x.ended_at - x.created_at).utc.strftime("%H:%M:%S") + "</em>").html_safe %>
			<br>
		<% end %>
		<%= x.page.description unless x.page.description.nil? %>
		<p/>
	<% end %>
</div>
<div class="small-2"></div>