<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Newsmeter</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar-role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="http://www.mynewsmeter.com/me">Newsmeter</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li class="has-form">
              <div class="row collapse">
                <div class="small-4 columns">
                  <input type="text" placeholder="Search Keywords">
                </div>
                <div class="small-4 columns">
                  <a href="#" class="alert button expand">Search</a>
                </div>                
              </div>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="row" style="top:45px;position:relative;">

    <%= yield %>

  </div>
  </body>
</html>
