<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Newsmeter</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar-role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="http://www.mynewsmeter.com/me">Newsmeter</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="has-form">
              <form id="searchForm">
                <div class="row collapse">
                  <div class="small-4 columns">
                    <input type="text" name="keyword" id="keyword" placeholder="Search Term">
                  </div>
                  <div class="small-2 columns">
                    <!-- <a href="#" class="alert button expand" type="submit">Search</a> -->
                    <!-- <input type="submit" style="display:none" id="submitButton" name="submitButton"> -->
                    <%= link_to 'Search', "javascript:void(0)", :onclick => "document.getElementById('searchForm').submit();", class: 'alert button expand' %>
                  </div>
                  <div class="small-6 columns" style="padding-left: 5px;">
                    <input id="nonarticles" name="nonarticles" value="yes" type="checkbox"><label for="nonarticles" style="color: white;">Search non-articles</label>
                  </div>                
                </div>
              </form>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="row" style="top:45px;position:relative;">

    <%= yield %>

  </div>
  </body>
</html>
